
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="recipeForm.invalid"> Save </button>
            <button type="button" class="btn btn-danger" (click)="onCancel()"> Cancel </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="name"> Name </label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="imagePath"> Image URL </label>
            <input id="imagePath" type="text" class="form-control" formControlName="imagePath">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <img src="{{recipeForm.controls['imagePath'].value}}" 
                alt="Recipe image"
                style="max-height:250px; max-width: 250px;">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="description"> Description </label>
            <textarea id="description" class="form-control" rows="6" formControlName="description"></textarea>
        </div>
    </div>

    <div class="row" formArrayName="ingredients">

        <div class="row col-xs-12" 
            *ngFor="let ingredientTemp of getIngredients(); let i = index"
            [formGroupName]="i"
            style="margin-bottom:10px">
            <div class="col-xs-8">
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="col-xs-2">
                <input type="text" class="form-control" formControlName="amount">
            </div>

            <div class="col-xs-2">
                <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)"> X </button>
            </div>
        </div>

        <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
    </div>

</form>
