
<div class="col-md-6 col-md-offset-3">

    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <!-- <div class="alert alert-danger" *ngIf="errorMsg"> {{errorMsg}} </div> -->
    <alert [message]="errorMsg" *ngIf="errorMsg" (close)="onCloseAlert()"></alert>

    <form *ngIf="!isLoading" #authForm="ngForm" (ngSubmit)='onSubmit(authForm)'>

        <div class="col-xs-12 form-group">
            <label for="email"> Email </label>
            <input type="email" 
                    id="email" 
                    class="form-control" 
                    ngModel 
                    name="email"
                    required
                    email>
        </div>

        <div class="col-xs-12 form-group">
            <label for="password"> Password </label>
            <input type="password" 
                    id="password" 
                    class="form-control" 
                    ngModel 
                    name="password"
                    required
                    minLength="6">
        </div>

        <div class="col-xs-12">

            <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid"> 
                {{ loginMode ? 'Login' : 'Sign Up' }} 
            </button> 
            
            |
            
            <button type="button" class="btn btn-primary" (click)="switchMode()"> 
                {{ loginMode ? 'Switch to Sign up' : 'Switch to Login' }} 
            </button>

        </div>

    </form>

</div>